#body{
    background-color: lightslategray;
}
#h1{
    padding: 20px;
    background-color: yellow;
    color: green;
    text-decoration: underline;
    border-radius: 10px;
}
#h2{
    background-color: lightgreen;
    color:black;
    text-decoration: solid;
    border-radius: 10px;
    padding:5px;
}
#image{
    border-radius: 20px;
}
#sec1{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    border-radius: 10px;
    padding: 5px;
    max-width:100%;
    gap: 30px;
}
#input{
    padding: 5px;
    width: 100%;
}
#button{
    width: 50%;
    background-color: green;
    color: white;
    border-radius: 10px;
    padding:5px;
}
#project{
    background-color: beige;
    max-width:100%;
    border-radius: 10px;
    display:flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
#p1{
    background-color: aqua;
    width: 45%;
    border-radius: 10px;
    padding: 5px;
}
#p2{
    background-color: aqua;
    width: 45%;
    border-radius: 10px;
    padding: 5px;
}
#hobbies{
    background-color: aqua;
    border-radius: 10px;
    padding:5px;
}
#contact{
    background-color: aqua;
    border-radius: 10px;
    padding:15px;
}
#footer{
    
    color: white;
    background-color: black;
    padding:15px;
    border-radius: 10px;
}
